.containerCArt{
    width:80%;
    margin:0 auto;
    margin-top:140px;
}
.titleShopCart{
    padding:11px 0;
    text-align:left;
    border-bottom:0.7px solid lightgrey;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
  
}
.productCART{
 
    display:flex;
    flex-flow:row wrap; 
    justify-content:space-between;
    padding:20px 0;
}

.remove-product{
    color:lightgrey;
    outline:none;
    background: transparent;
    border:none;
}
.remove-product:hover{
    color:red;
    
}


.column-labels {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-end;
    margin-bottom: -20px;
}


.label-title{
    font-weight:bold;
    
}

.label-product{
    color:grey;font-size:18px;
    padding-left: 4%;
    padding-top: 20px;
    
}

.label-price{
    color:grey;font-size:18px;
    padding-left: 4%;
    padding-top: 20px;
   
}


.label-qty{
    color:grey;font-size:18px;
    padding-left: 6%;
    padding-top: 20px;
    
}

.label-line-price{
    color:grey;font-size:18px;
    padding-left: 12%;
    padding-top: 20px;
}

.containerPrice{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-end;
}

.totals-item{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    width:auto;
    height: 30px;
   
}
.subtotal{
    font-size:18px;
}
.totals-item-coupon{
    margin-top:15px;
    margin-bottom:25px;
}

.backCart{
    border-radius:40px;
    color:#3cb6c9;
}


.formConfirmGeo{
    margin-top:180px;
    margin:0 auto;
    height:60px;
}
.formConfirmGeo .géoloc{
    margin:0 auto;
    margin-top:80px;
    height:50px;
    width:70%;
   
}
.formConfirmGeo .validGeoloc{
    margin-top:210px;
}


.buttonNav {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-end;
    margin-top: 40px;
}

.buttonNav2 {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    margin-top: 80px;
}



#back {
    background-color: transparent;
    border-color: grey;
    color: grey;
    margin-right: 20px
}

#back:hover {
    color: #3cb6c9;
    border-color: #3cb6c9;
}


 #checkout:hover {
    color: white;
    background-color: #3cb6c9;
    border: none;
}

#validGeoloc:hover {
    color: white;
    background-color: #3cb6c9;
    border: none;

}

#proceed{
    margin-top:50px;
}

#proceed:hover{
    color: white;
    background-color: #3cb6c9;
    border: none;
}








/*--------- FORM Location ------------*/


.group 			  { 
    position:relative; 
    margin-bottom:45px; 
  }
  #locInput 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:600px;
    border:none;
    border-bottom:1px solid #757575;
  }
  #locInput:focus 		{ 
      border: none;
      outline:none; 
    }
  
  /* LABEL */
  #labelInput				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  #locInput:focus ~ #labelInput, #locInput:valid ~ #labelInput 		{
    top:-20px;
    font-size:14px;
    color:#3cb6c9;
  }
  
  /* BOTTOM BARS */
  .bar 	{ position:relative; display:block; width:600px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#3cb6c9; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  #locInput:focus ~ .bar:before, #locInput:focus ~ .bar:after {
    width:50%;
  }
  
  
  /* active state */
#locInput:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS */
  @-webkit-keyframes inputHighlighter {
      from { background:#3cb6c9; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#3cb6c9; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#3cb6c9; }
    to 	{ width:0; background:transparent; }
  }

    

  

  
