#logo-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 4rem;
}

li {
    display: inline;
}

.bouton {
    margin-right: 20px;
}

.bouton a {
    padding: 8px 25px;
    border-radius: 20px;
}

.location-search{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.adress-input{
    width: 400px;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
    border: none;

}

.submit-button{
    height: 50px;
    margin-left: -5px;
    outline: none;
    padding: 2px 15px;
    background-color: black;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

.geolocalisation{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    border-top: 1px solid lightgrey;
    background-color: transparent;
    /*display: none;*/
}
.arrow{
color: white;

}
.mainTitle{
    text-align: center;
    margin-top: 60px;
}

header{
    height: 80vh;
    width: 100%;
    background:url("/_assets/image/img.jpeg");
    background-position: center;
    background-repeat: no-repeat;

}