*{
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}

img{
    max-width:100%;
    }

.main-header1 {
    height: 100vh;
    background-image: url("../image/img.jpeg");
    background-position: center;
    top: 0;
}

.logo-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem 1rem 4rem;
    visibility:visible;
}
.logo-bouton-sticky{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem 1rem 4rem;
    z-index:2;
    position:fixed;
    width:100%;
    top:0; 
}
.bg_sticky{
    background-color:rgba(245,245,245, 0.9);
}


li {
    display: inline;
}

.bouton {
    margin-right: 15px;
   
}

.bouton a {
    padding: 8px 25px;
    border-radius: 20px;
}

.btnsign,
.btnlog {
    border: 1px solid lightgrey;
    color: white;
    z-index:3;
}

.btnsign:hover,
.btnlog:hover {
    background-color: #3cb6c9;
}

.location-search {
    width: 500px;
    margin: 0 auto;
    top:20px;
    z-index:3;
}
.sticky{
    position:fixed;
    width:100%;
    margin-left:470px;
    top:20px;
}

.adress-input {
    width: 400px;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
    border: none;
}

.submit-button {
    height: 50px;
    margin-left: -5px;
    outline: none;
    padding: 2px 15px;
    background-color: black;
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

.submit-button:focus {
    outline: none;
}

.geolocalisation {
    color: white;
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    border-top: 1px solid lightgrey;
    background-color: transparent;
    display: none;
}

.geolocalisation:focus {
    outline: none;
}

.arrow {
    color: white;
}

.mainTitle {
    text-align: center;
    margin-top: 60px;
    color: white;
}

