.cadre
{
  position: relative;
  width: 60%;
  height:80%;
  background: whitesmoke;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 90px;
  color: rgba(0,0,0, .8);
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  
 

}

.cadre:before, .cadre:after
{
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.cadre:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.merci{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  
  color: grey;
  
}

.titleSpanColor{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: "fontastiquefontastique";
    margin-left: auto;
    margin-right: auto;
}

.feelin{
    color: #3cb6c9;
}
.food{
    color: gray;
}
.point ,.com{
    color: black;
}

.lead{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    
}

#timer{
    margin-top: 60px ;
    font-size: 25px;
    color: #3cb6c9;
    text-align: center;
    
}

