
.infoPanel li{
    width: 90%;
   
}

.infoPanel li img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.infoPanel{
    margin-left:-27px;
}
.pointLabel{
    text-align:center;
    line-height:15px;
}
.pointsN{
    font-size:28px;
    font-weight:bold;
    color:grey;
    font-style:italic;
}
.points{
    color:grey;
    font-style:italic;
}
.award{
    color:grey;
}

.sectionUserA{
    padding:10px 0;
    text-decoration:none;
    color:black;
    margin-left:50px;
}

.listOrder{
    text-decoration:none;
    color:black;
}
.orderz{
    font-size:18px;
    text-decoration:none;
    color:black;
    padding:10px;
}
.legends{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    padding:0 4%;
}
.ord{
    width:90px;
}
.backOrder{
    display:block;
    margin-left:30px;
}
.containerOrder{
    width:500px;
    margin:0 auto;
    margin-top:10px;
}

.button-like {
    background: transparent;
    border: none;
}
 
   
.button-like:hover, .button-like:focus {
    outline: none;
}
     
.is-active {
     z-index: 2;
     color: red;
     
     }
   
  
 


