
.infoPanel li{
    width: 90%;
   
}

.infoPanel li img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.infoPanel{
    margin-left:-27px;
}
.pointLabel{
    text-align:center;
    line-height:15px;
}
.pointsN{
    font-size:28px;
    font-weight:bold;
    color:grey;
    font-style:italic;
}
.points{
    color:grey;
    font-style:italic;
}
.award{
    color:grey;
}

.sectionUserA{
    padding:10px 0;
    text-decoration:none;
    color:black;
    margin-left:50px;
}


