.rm {
    visibility: hidden;
    /* Hide my Read More button */
}
.cardResto{
    width:47%;
    
    border:1px solid lightgrey;
    margin-bottom:20px;
}
.cardResto h5 {
    text-decoration:none;
    color:black;
}
.cardResto p{
    text-decoration:none;
    color:black;

}
.cardResto:hover{
    background-color:rgb(238,237,237,0.4);
}

.buttonCart{
    background-color:#3cb6c9;
    border-radius:40px;
}
.totalItem{
    padding-left:15px;
}
.button1{
    padding-right:15px;
}
.button2{
    padding-left:15px;
}
/*************/

/*Product Rating  */
.star {
	display: inline;
	margin-left: 0.5em;
	color: gold;
	
}

