.rm {
    visibility: hidden;
    /* Hide my Read More button */
}
.cardResto{
    width:47%;
    
    border:1px solid lightgrey;
    margin-bottom:20px;
}
.cardResto h5 {
    text-decoration:none;
    color:black;
}
.cardResto p{
    text-decoration:none;
    color:black;

}
.cardResto:hover{
    background-color:rgb(238,237,237,0.4);
}

.buttonCart{
    background-color:#3cb6c9;
    border-radius:40px;
}
.totalItem{
    padding-left:15px;
}
.button1{
    padding-right:15px;
}
.button2{
    padding-left:15px;
}
/*************/



img.image, .text {
    display: flex; 
    z-index:0;
    width: 200px;
    height: 200px;
    position: relative; 
    margin-right: 60px;
    margin-left: 10px;
}


.text{
    text-align: center;
}

main{
    margin-left: 2em;
    margin-right: 2em;
}

.mostly-customized-scrollbar::-webkit-scrollbar, .text {
    width: 0px;
    height: 0px;
  }

  .mostly-customized-scrollbar::-webkit-scrollbar-thumb, .text {
      background: #000;
  }


.restoTradi, .restoOrganic, .restoGastronomique,
.restoVegan, .fastFoodResto, .restoPizza, .restoSalade,
.restoSpeciality, .restoTacos, .restoMeat, .restoPasta,
.restoPasta, .restoDesserts {
    margin-top:1em;
    display: flex; 
    overflow: scroll;
    text-align: right;
}


.tradi, .organic, .gastronomique, 
.vegan, .fastFood, .pizza, 
.salades, .specialites, .tacos
.meat, .pastas, .desserts{
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: -30px; 
    margin-left: -32px;
    padding-left: 3em;
    height: 50%;
    background-color: rgba(243, 239, 239, 0.7);
}

.titrePage{
    margin-top: 3em;
    margin-bottom: 2em;
}


.text{
    margin-top: -40px;
    z-index: 1;
    position: relative;
    width: 200px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: rgba(238, 237, 237, 0.753);
}

img.image.item{
    text-align: right;
}

.restaurantDeco{
    color: #000;
    text-decoration: none;
}
  
.restaurantInfos{
    margin-right: 10em;
    padding-bottom: 3em;
    
}

h4.infosOuverture{
    display: flex;
    flex-direction: column-reverse;  
}

.infosCarteOuvertureRestaurant{
    margin-right: 20em;
    display: flex;
    justify-content: flex-end;
}

div.presentationInfos{
    display: flex;
    padding-top: 1em;
    
    
}

h4.infosOuverture1{
    padding-right: 12em;
    margin-right: -2em;
    
}

h4.infosOuverture1{
    padding-top: 20px;
}

h4.infosOuverture{
    padding-top: 6em;
    
}







/**** FAB **/
body, html {
    height: 100%;
    margin: 0;
    
   
  }
  
  .image {
    background-image: url('../image/restaurant/restaurant.jpg');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }
  
  
  
  
  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }

  .tacos{
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: -30px; 
    margin-left: -32px;
    padding-left: 3em;
    height: 50%;
    background-color: rgba(243, 239, 239, 0.7);
}

.meat {
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: -30px; 
    margin-left: -32px;
    padding-left: 3em;
    height: 50%;
    background-color: rgba(243, 239, 239, 0.7);
}
  
  
  
  








  







